*, html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
}

button {
  /* Todo: Clear all styles */

}

a {
  /* Todo: Clear all styles*/

}

.button {

}

.button-collection {

}

.code {

}
